{% extends 'base.html' %}

{% block main %}
<section id="product_list" class="mt-2">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'emart_mgmt:add_product' %}" class="btn btn-success">Add New</a>
            </div>
        </div>
        <div class="row">
            {% for product in cv.product_list %}
            <div class="col-md-4">
                <div class="card my-2">

                    <a href="{% url 'emart_mgmt:product_detail' product.id %}"><img
                            src="{{ product.image }}"
                            class="card-img-top"
                            alt="Product image not found"
                            height="240"
                    /></a>
                    <div class="card-body">
                        <h5 class="card-title">{{ product.name|title }}</h5>
                        <p class="card-text">
                        <div class="d-flex justify-content-start flex-column">
                            <span class="text-muted">{{ product.category_name|title }}</span>

                            <span>Price: {{ product.sale_price }} &#8377;</span>

                        </div>


                        <div class="d-flex justify-content-center mt-1">
                            {% if product.in_stock %}
                            <a href="{% url 'emart_mgmt:product_detail' product.id %}"
                               class="btn btn-primary btn-sm btn-success">Buy Now</a>
                            {% else %}
                            <a href="{% url 'emart_mgmt:product_detail' product.id %}"
                               class="btn btn-primary btn-sm btn-danger">Out Of Stock</a>
                            {% endif %}

                            {% if  product.seller_id == request.user.id %}
                               <a href="{% url 'emart_mgmt:edit_product' product.id %}"
                               class="btn btn-primary btn-sm btn-info">Edit</a>
                            {% endif %}

                        </div>

                        </p>


                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row" id="pagination">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <nav aria-label="...">
                    <ul class="pagination pagination-md">
                        <li class="page-item"><a class="page-link" style="font-size:2em;" href="{% url 'emart_mgmt:product_list' %}?page={{ cv.prev }}">Prev</a></li>
                        <li class="page-item"><a class="page-link" style="font-size:2em;" href="{% url 'emart_mgmt:product_list' %}?page={{ cv.next }}">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>

<section id="recommended_products">

</section>

{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {

$.ajax({
        url: "{% url 'emart_mgmt:recommended_products' %}",
        type:'get',
        success:(function( data ) {
         console.log(data)

          if (typeof(data) == "string") {
          json_data = JSON.parse(data)
        }
        else{
           console.log('data is not string');
        }

        if (json_data.success){

          $("#recommended_products").html(json_data.content)
        }

// end of success fn
})
// end of ajax fn
})
// end of document.ready
});
</script>
{% endblock %}